<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>HOme</title>
</head>
<body>

  <h2>Home</h2>

  <form action="/question" method="POST">
    <input type="text" placeholder="Stel hier u vraag" name="question">
    <button type="submit">Submit</button>
  </form>

</body>
</html>
