  <!--<ul class="question">
      <% for(var i=0; i<question.length; i++) {%>
        <li class="ques">
          <span><%= question[i] %></span>
        </li>
      <% } %>
  </ul>-->


  <span><%= question %></span>